{% extends 'dsnalgo/base.html' %}

{% block title %}<title>{{ sub_article.title }}</title> {% endblock %}

{% block article %}

    <div class="article">
        <ul class="sb_menu">
            <h2>{{ sub_article.title }}</h2>
            {% for code in sub_article.pythoncode_set.all %}
                <pre class="brush:py">
                    {{ code.code }}
                </pre>
            {% endfor %}
        </ul>

    </div>

{% endblock %}

{% block quick_links %}
    <ul class="sb_menu">
        <h2 class="star">{{ article.title }}</h2>
        {% for sub in article.subarticle_set.all %}
            <li><a href="{% url 'sub_article-detail' article.id sub.id %}">{{ sub.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

