{% extends 'dsnalgo/base.html' %}

{% block title %}<title>Data Structure & Algorithms</title> {% endblock %}

{% block article %}

    <div class="article">
        <ul class="sb_menu">
          {% for article in all_articles %}
            <a href="{% url 'article-detail' article.id %}"><h2>{{ article.title }}</h2></a>

            {% for sub in article.subarticle_set.all %}
                <li><a href="{% url 'sub_article-detail' article.id sub.id %}">{{ sub.title }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
    </div>

{% endblock %}
